button{
    background: $cor_principal;
    color: #fff;
    height: 38px;
    padding: 0 20px;
    border: none;
    transition: .5s all;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;

    &:hover{
        background: $cor_principal_clara;
        transform: translateY(-2px);
    }
}

label{
    display: block;
    color: $cor_principal;
    cursor: pointer;

    &.file{
        padding: 10px 20px;
        border: 2px solid $cor_principal;
        outline: 0px;
        display: inline-block;
        margin: 10px 0; 
        font-size: 14px;

        &:hover{
            background: $cor_principal;
            color: #fff;
        }
    }
}

input{
    padding: 10px 20px;
    border: 2px solid $cor_principal;
    outline: 0px;
    display: block;
    margin-bottom: 10px;

    &[type=file]{
        border:none;
    }
}