button{
    background: $cor_principal;
    color: #fff;
    height: 38px;
    padding: 0 11px;
    border: none;
    transition: .5s all;
    cursor: pointer;

    &:hover{
        background: $cor_principal_clara;
        transform: translateY(-2px);
    }
}