header{
    position: fixed;
    height: 50px;
    background: $cor_principal;
    color: $cor_principal_clara;
    z-index: 99;
    width: 100%;
    font-size: 1em;
    font-weight: 400;

    & > div > img{
        display: none;

        &.mobile{
            display: block;
            height: 30px;
            margin: 0 auto;
            padding: 10px 0;
        }
    }

    button{
        display: none;
        outline: 0;

        &.mobile{
            display: block;
            position: absolute;
            z-index: 2;
            top: 8px;
            left: 20px;
            color: #fff;

            &:hover{
                transform: none;
                background: $cor_principal;
            }
        }

        img{
            width: 20px;
        }
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;

        &.desktop{
            display: block !important;
        }

        a{
            text-decoration: none;
            color: $cor_principal_clara;
            transition: .5s all;

            &:hover{
                color: #fff;
            }

            &:first-child{
                li{
                    padding-left: 0;
                }
            }
        }

        li{
            display: inline;
            padding: 5px 14px; 
            line-height: 50px;         
        }
    }

    ul.mobile{
        display: none;

        li{
            display: block;
            background: $cor_principal;
            text-align: center;
        }

        a{
            &:first-child{
                li{
                    padding: 5px 14px;
                }
            }
        }
    }
}