main{
    position: relative;
    top: -67px;

    .container > div{
        background: #fff;
        padding: 45px 90px;
    }

    ul{
        padding: 0;
        padding-left: 14px;
    }

    li{
        line-height: 24px;
    }

}

section{
    margin: 10px;

    &.w-50{
        width: 50%;
    }

    &.pb-5{
        padding-bottom: 10px;
    }

    h2{
        font-weight: 400;
        color: $cor_principal;
        color: #383838;
        text-align: center;
        font-size: 15px;
        color: $cor_principal;
        margin: 0;
        padding-bottom: 8px;
    }

    p:last-child{
        margin-bottom: 65px;
    }
}

.box_inscricao{
    position: absolute;
    top: -36px;
    right: 100px;
    max-width: 220px;
    font-size: .95em;
    text-align: center;
    
    .bg-blue{
        background: $cor_principal;
        color: #fff;
        padding: 33px;
        box-sizing: border-box;
        text-align: left;
        line-height: 12px;

        &:first-child{
            padding-bottom: 0px;
        }
    }

    h3{
        color: $cor_principal_clara;
        font-weight: normal;
        font-size: 1em;
        margin: 0;
    }

    p{
        margin: 0;
    }

    button{
        margin-top: 44px;
        padding: 15px 40px;
        height: 60px;
    }
}

p{
    padding: 3px 0;
    line-height: 16px;
    word-wrap: break-all;
    hyphens: auto;
}

@media (max-width: 767.98px) {

    main{
        width: 90%;
        left: 5%;
        // box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    }

    .box_inscricao{
        position: relative;
        max-width: 100%;
        top: auto;
        right: auto;

        button{
            margin-bottom: 20px;
        }
    }

    main .container > div{
        padding: 0;
    }

    section{
        padding: 30px;
        margin: 0;
        box-sizing: border-box;
        font-size: 1.1em;

        &.w-50{
            width: 100%;
        }
    }

}