@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Thin.ttf");
}

@import 'styles/variables';
@import 'styles/header';
@import 'styles/cover';
@import 'styles/main';
@import 'styles/forms';
@import 'styles/galeria';
@import 'styles/modal';
@import 'styles/footer';

html{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body{
  background: $background;
  color: #666666;
  font-size: 13px;
  font-weight: 200;
}

.container{
  position: relative;
  max-width: 820px;
  margin: 0 auto;

  &.full{
    width: 90%;
    max-width: 90%;
  }
}

hr{
  border: none;
  border-top: 1px solid #ccc;
  margin-bottom: 65px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.success{
  display: block;
  text-align: center;
  font-weight: 400;
  color: rgb(20, 117, 61);
  font-size: 14px;
  margin-bottom: 5px;
}

@media (max-width: 767.98px) {

  .container{
      max-width: 100%;
  }

}